.button {
    cursor: pointer;
  padding-block: 5;
  padding-inline: 10;
  border-radius: 4px;
  color: #000;
}

.login-button {
  background-color: #24a0ed;
  padding: 5px 10px;
  color: #fff;
}

.login-button:hover{
    
    background-color: #1570a5;
}